CONFIG_IMX_SDMA=m
CONFIG_NET_DSA=y
CONFIG_NET_DSA_SJA1105=m
CONFIG_INPUT_PWM_BEEPER=y
CONFIG_RTC_DRV_RV3032=y
CONFIG_DP83848_PHY=y
CONFIG_RFKILL=y
CONFIG_CFG80211=y
CONFIG_MAC80211=y
CONFIG_BRCMFMAC=y
CONFIG_BRCMFMAC_USB=y
CONFIG_BT_HCIBTUSB=y
CONFIG_EXTRA_FIRMWARE="brcm/brcmfmac4373.bin"
CONFIG_EXTRA_FIRMWARE_DIR="/home/j/Downloads/loan/sa/lib/firmware"
CONFIG_PWM_GPIO=y
